/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/*----------- apply a natural box layout model to all elements --------------*/
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* ---------  Setup a basic box sizing help with the widths and heighs ---------- */

*,
*::after,
*::before {
    box-sizing: border-box;
}

/* Variables */
:root {
    --cell-size: 100px;
    --mark-size: calc(var(--cell-size)* .9);
}


body {
    margin: 0;
    padding: 0;
    background: hsla(33, 100%, 53%, 1);
    background: linear-gradient(90deg, hsla(33, 100%, 53%, 1) 0%, hsla(58, 100%, 68%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(33, 100%, 53%, 1) 0%, hsla(58, 100%, 68%, 1) 100%);
}

header h1 {
    text-align: center;
    margin: 0;
    margin-top: 20%;
    font-size: 5rem;
}

/* 
.board{
    border: red 1px solid;
    width: 80%;
    height: 80vh;
    margin: auto;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(3, auto);
    gap: 5px;
}

.cell{
    width: 80px;
    height: 100px;
    background-color: royalblue;
}
 */


.board {
    width: 100vw;
    height: 100vh;
    margin: auto;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);
}

.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}


.cell.x,
.cell.circle {
    cursor: not-allowed;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
    border-top: none;
}

.cell:nth-child(3n +1) {
    border-left: none;
}

.cell:nth-child(1n - 1) {
    border-right: none;
}

.cell:last-child,
.cell:nth-child(7),
.cell:nth-child(8) {
    border-bottom: none;
}

/* Cross */

.cell.x::before,
.cell.x::after {
    background-color: navy;
}

.cell.circle:before,
.cell.circle:after {
    background-color: orchid;
}

.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after {
    background-color: lightblue;
}

.board.circle .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after {
    background-color: lightgreen;
}

.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after {
    content: '';
    position: absolute;
    width: calc(var(--mark-size)*.15);
    height: var(--mark-size);
}

.cell.x::before,
.board.x .cell:not(.x):not(.circle):hover::before {
    transform: rotate(45deg);
}

.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::after {
    transform: rotate(-45deg);
}

/* Circle */



.cell.circle::before,
.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after {
    content: '';
    position: absolute;
    border-radius: 50%;
}

.cell.circle::before,
.board.circle .cell:not(.x):not(.circle):hover::before {
    width: var(--mark-size);
    height: var(--mark-size);
}

.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::after {
    width: calc(var(--mark-size)*.7);
    height: calc(var(--mark-size)*.7);
    background-color: plum
}

/* Button */

.winningMessage {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 1, 2, .9);
    justify-content: center;
    align-items: center;
    color: lime;
    font-size: 5rem;
    flex-direction: column;
}

.winningMessage button {
    font-size: 3rem;
    background-color: mediumblue;
    color: white;
    border-radius: 15px;
    padding: .25em;
    cursor: pointer;
}

.winningMessage button:hover {
    background-color: white;
    color: mediumblue;
}

.winningMessage.show {
    display: flex;
}

/* Center */

body div.center {
    margin-top: 5%;
}

div.center {
    width: 400px;
    margin: auto;
    background-color: white;
    border-radius: 15px;
    color: #000000;
}


.center form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: center;
    padding: 0 40px;
    box-sizing: border-box;
}


.center h1 {
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid #4c96d7;
}

.center form p {
    width: 100%;
    text-align: center;
}

.center form button {
    background-color: #4c96d7;
    font-size: 16px;
    color: aliceblue;
    width: 100%;
    height: 50px;
    margin: 5% 0;
    border-radius: 15px;
}

.error {
    background: #f99;
    border: #900 1px solid;
    display: none;
}